run = ["bundle", "exec", "ruby", "main.rb"]
hidden = [".bundle"]

entrypoint = "main.rb"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = ["solargraph", "stdio"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "README.md"]

[nix]

[nix.channel]
channel = "stable-22_05"
